body {
    font-family: 'Noto Sans KR', sans-serif;
    padding: 30px;
    background: #f6f6f6;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    height: 400px;
    resize: vertical;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}